@import url('https://fonts.googleapis.com/css?family=Lato|Noto+Serif+SC');

body, h1, img {
  margin: 0;
  padding: 0;
}

#title {
  width: 100%;
  background-color: #000;
  color: #fff;
  font-family: 'Noto Serif SC', serif;
  font-weight: 200;
  font-size: 2em;
  text-align: center;
  padding: 40px 20px;
}

img {
  width: 100vw;
}